# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.tox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/